// Add Your Frontend site styles here
@import url('https://fonts.googleapis.com/css?family=Patua+One|Quattrocento+Sans|Roboto');
p, h1, h2, h3, h4 ,h5{
    color: #FFF;
}

p{
    font-family: 'Quattrocento Sans', sans-serif;
}

.btn{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-transform: uppercase;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding: 13px 40px;
    position: relative;
    
    &.buynow{
        background: #E34543;
        margin: .5rem;
        
        &:hover{
            color: white;
            background: #d6312f;
            top: 1px;
        }
    }
    &.trynow{
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.18);
        margin: .5rem;
        
        &:hover{
            color: white;
            background: rgba(0, 0, 0, 0.18);
            top: 1px;
        }
    }
}

.hero{
    background-image: url('~/assets/img/banner-img.png');
    background-size: auto calc(100% + 2rem);
    background-repeat: no-repeat;
    background-position: 0 -1rem;
    border-top: solid .5rem #2F8ED2;
    height: 70vh;
    display: flex;
    padding-left: 5rem;
    margin-top: -.5rem;
    
    .jumbotron{
        background-color: transparent;
        align-self: center;
        margin-bottom: 0;
        
        h1{
            font-family: 'Patua One', 'Arial', serif;
            margin-bottom: 0;
        }
        
        p{
            font-style: italic;
            margin-bottom: 1.2rem;
        }
        
        h1, p{
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        }
    }
}

.banner-bottom, .middle-divider{
    background-color: #2F8ED2;
    padding: 70px 0;
    position: relative;
    
    &::before{
        content: ' ';
        background-image: url('~/assets/img/bannerbottomtop.png');
        background-size: 100vw 100%;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 40px;
    }
    
    &::after{
        content: ' ';
        background-image: url('~/assets/img/bannerbottombottom.png');
        background-size: 100vw 100%;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 40px;
    }
    
    .banner-bottom-section{
        padding: 0 60px;
        font-family: Roboto, sans-serif;
        display: flex;
        
        .illustration{
            width: 6rem;
            height: 6rem;
            border: 1px solid #FFF;
            border-radius: 50%;
            display: inline-block;
            align-self: center;
        }
        
        .text{
            display: inline-block;
            width: calc(100% - 7rem);
            padding-left: 1rem;
            align-self: center;
            
            h4{
                font-weight: bold;
                margin-bottom: .5rem;
            }
        }
        
        &:not(:first-child){
            border-left: 1px solid #FFF;
        }
        
    }
}

.pricing{
    height: 70vh;
    display: flex;
    align-content: center;
    justify-content: center;
    
    .sub{
        border: 5px solid #2F8ED2;
        text-align: center;
        
        .sub-title{
            background: #2F8ED2;
        }
        
        .sub-list>.list-group>.list-group-item{
            color: #222;
        }
    }
}

.middle-divider{
    background-color: #FF6C6A;

    &::before{
        content: ' ';
        background-image: url('~/assets/img/middlebottomblack.png');
        background-size: 100vw 100%;
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 40px;
    }
    
    &::after{
        content: ' ';
        background-image: url('~/assets/img/bannerbottomblack.png');
        background-size: 100vw 100%;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 40px;
    }
}